$white: #FFFFFF;
$primary: #3E4251;
$secondary: #2992b3;
$bodyColor: #E5E5E5;
$textLight: #4F5667;
$yellowPending: #E8B455;
$dryBrown: #926948;
$dark: #292D32;
$greyText: #b7b3b3;
$ultraLightGrey: #DADADA;
$lightGrey: #F5F5F8;
$green: #29B3B3;
$border-bottom: 1.5px solid $primary;

/* tr border */

$border: 1px solid $white !important;
$borderRadius: 5px !important;
$borderHover: 1px solid $dark !important;
$borderRadius: 5px !important;